/*Navbar*/

nav {
  font-family: 'Roboto', sans-serif;
}

.navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-nav a {
  color: rgba(52, 73, 94, 1.0) !important;
  font-weight: 700;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: none;
}

.navbar-inverse {
  border:none;
  border-bottom: 2px solid;
}

ul li .nav-links:before {
  content: '';
  width: 0px;
  height: 5px;
  background: rgba(52, 73, 94, 1.0);
  position: absolute;
  top: 75%;
  left: 0;
  transition: 0.5s;
}

ul li:hover .nav-links:before {
  width: 45%;
  transform: translateX(100%);
}

.navbar {
  text-align: center;
  font-size: 1.2em;
  background: rgb(255, 230, 0);
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: rgba(52, 73, 94, 1.0) !important;
  font-size: 1.7em;
  font-weight: 700;
  margin-top: 4px;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: none !important;
}

.navbar-toggle:hover .icon-bar {
  background-color: rgb(255, 230, 0) !important;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background: rgba(52, 73, 94, 1.0) !important;
}


/**/


/*Section 1*/

#home {
  height: 100vh;
  background: url(../codepic.jpg) fixed repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.myheading {
  text-align: center;
  padding-top: 40vh;
}

.ityped {
  color: #ddd;
  font-size: 50px;
  font-weight: 700;
  font-family: consolas;
}

.ityped-cursor {
  font-size: 4.5em;
  color: #ddd;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}


/**/


/*Section 2*/

#aboutme {
  padding-bottom: 40px;
  background: rgb(255, 230, 0);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#heading-aboutme {
  font-size: 4em;
  font-size: 700;
  text-shadow: 0 0 5px #080808;
}

.about-me p {
  font-size: 15px;
  text-align: justify;
  text-indent: 30px;
  line-height: 150%;
  margin-bottom: 35px;
}

.skills {
  text-align: center;
}

.skills h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 20px;
}

.skills p {
  font-size: 1.3em;
  margin-top: 5px;
}

.allSkills li {
  list-style: none;
}
.mySkills{
  margin-bottom: 10px;
  padding:0;
}

.mySkills:hover img {
  animation: flip 1s;
}

#boydIMG {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 15px #080808;
}

#whoIsBoyd {
  color: #ddd;
  background: rgba(52, 73, 94, 1.0);
  padding: 0 15px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  box-shadow: 0 0 5px #080808;
}

#whoIsBoyd h2 {
  font-weight: 700;
}

.skillSet {
  height: 40px;
  width: 40px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.6));
}

.col-xs-3, .col-xs-12 {
  padding: 0;
}

/**/


/*Section 3*/

#portfolio {
  background: rgba(52, 73, 94, 1.0);
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ddd;
}

#heading-portfolio {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 0 0 5px #ddd;
}

.thumbnail {
  padding: 0;
  background: transparent;
  border: none;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  overflow: hidden;
  margin-top: 30px;
}

.thumbnail a {
  background: none;
  border: none;
  font-size: 35px;
}

.thumbnail img {
  width: 400px;
  height: 250px;
  transition: 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: rgba(255, 230, 0, 0.8);
  ;
}

.thumbnail:hover .caption {
  left: 0;
  animation: slideInLeft 1s;
}

.thumbnail:hover img {
  transform: scale(1.3);
  filter: blur(2px);
}

.caption span {
  border: 2px solid rgba(52, 73, 94, 1.0);
  margin-top: 5px;
  margin-left: 5px;
  padding: 2px;
  font-weight: 500;
  font-size: 1em;
  display: inline-block;
}

.caption a {
  font-size: 2em;
  padding: 0 10px;
  margin-top: 15px;
  font-weight: 500;
  background: rgba(52, 73, 94, 0.9);
  color: #ddd;
}

.caption h3 {
  margin: 0 0 5px 0;
}

.proj-links {
  margin-left: 10px;
}


/**/


/*Section 4*/

#contactme {
  background: rgb(255, 230, 0);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
}

#contact-me {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 0 0 5px #080808;
}

form input, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}
.contact-social-media {
  margin: 0 auto;
  margin-top: 5%;
}

.social-media {
  padding: 40px 45px 40px 45px;
  margin: 5px;
  transition: border-radius 1.3s, transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s !important;
  color: #ddd;
  text-decoration: none !important;
  font-size: 35px !important;
  width: 120px;
  float: none;
  box-shadow: 0 0 15px #080808;
}

.social-media:hover {
  transform: scale(0.8) rotate(360deg) !important;
  border-radius: 100%;
  color: #ddd;
}

.social-media:focus {
  color: #ddd;
}

.fa-facebook {
  background: #3b5998;
}


.fa-linkedin {
  background: #007bb5;
}

.github {
  background: #000000;
}

.fa-codepen {
  background: #212121;
}

#thankyou_message {
  display: none;
  background: #ddffcc;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
}

#thankyou_message h3 {
  font-weight: 700;
}

#body-message {
  font-weight: 500;
  text-align: justify;
}

#greeting {
  font-weight: 500;
  font-size: 1.2em;
  text-align: right;
  margin-top: 25px;
  margin-right: 20px;
}


/**/


/*Footer*/

#footer {
  padding: 10px 5px 5px 5px;
  background: rgba(52, 73, 94, 1.0);
  color: #ddd;
  font-weight: 600;
}

.footerLinks {
  margin-left: 15px;
  text-decoration: none !important;
  font-size: 1.1em;
  color: #ddd;
}

.footerLinks:focus, .footerLinks:hover {
  color: #ddd;
}

#whole-page {
  transition: 1s;
}


/**/

.hr-seperation {
  margin: 0;
  border: 1px solid #080808;
}
